name: E2E Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  e2e-kind:
    name: E2E Tests (Using KiND)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Install kind
        run: go install sigs.k8s.io/kind@latest

      - name: Build and deploy to kind cluster
        run: make deploy-kind

      - name: Run e2e tests
        run: make test-e2e
