name: unit tests
on:
  push:
    branches: [main]
    paths:
      - "**.go"
      - go.mod
      - go.sum
      - scripts/ci/**
  pull_request:
    branches: [main]
    paths:
      - "**.go"
      - go.mod
      - go.sum
      - scripts/ci/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: "go.mod"

      - name: Run scripts/ci/presubmits/unit-tests
        run: scripts/ci/presubmits/unit-tests
